@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --backgroundlogin: 42 15% 92%;

    --background: 42 15% 92%;
    --foreground: 90 10% 20%;

    --card: 42 15% 92%;
    --card-foreground: 90 10% 20%;

    --surface: 45 15% 95%;

    --popover: 45 18% 95%;
    --popover-foreground: 90 10% 20%;

    --primary: 105 25% 34%;
    --primary-foreground: 45 18% 95%;

    --secondary: 105 24% 72%;
    --secondary-foreground: 90 10% 20%;

    --muted: 42 12% 87%;
    --muted-foreground: 75 7% 42%;

    --accent: 105 24% 72%;
    --accent-foreground: 90 10% 20%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 45 18% 95%;

    --border: 45 12% 84%;
    --input: 45 12% 84%;
    --ring: 105 25% 34%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 210 25% 92%;
    --foreground: 210 40% 98%;
    --card: 210 25% 92%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (max-width: 767px) {
  .login-mobile-bg {
    position: relative;
    overflow: hidden;
  }

  .login-mobile-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/images/main_pic.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
  }
}
