USE [master]
GO
/****** Object:  Database [ReservationSystemDB]    Script Date: 9/3/2026 1:15:24 AM ******/
CREATE DATABASE [ReservationSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReservationSystemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ReservationSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReservationSystemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ReservationSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReservationSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReservationSystemDB]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_by_user_id] [bigint] NOT NULL,
	[booker] [bigint] NOT NULL,
	[resource_id] [bigint] NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[booking_type_id] [int] NOT NULL,
	[cancellation_policy_id] [int] NOT NULL,
	[booking_price] [decimal](12, 2) NULL,
	[booking_price_unit_id] [int] NULL,
	[status] [tinyint] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
 CONSTRAINT [PK_BOOKING] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_ASSETS]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_ASSETS](
	[id] [bigint] NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[resource_asset_id] [bigint] NOT NULL,
	[booked_quantity] [int] NOT NULL,
	[delivered_quantity] [int] NULL,
	[returned_quantity] [int] NULL,
	[damaged_quantity] [int] NULL,
 CONSTRAINT [PK_BOOKING_ASSETS_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_CHARGE_RULES]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_CHARGE_RULES](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[min_participants] [int] NOT NULL,
	[max_participants] [int] NOT NULL,
	[tower_percentage] [tinyint] NOT NULL,
	[coach_percentage] [tinyint] NOT NULL,
	[valid_from] [date] NOT NULL,
	[valid_until] [date] NULL,
 CONSTRAINT [PK_BOOKING_CHARGE_RULES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_CLASS]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_CLASS](
	[id] [bigint] NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[coach_user_id] [bigint] NOT NULL,
	[gender_restriction] [tinyint] NOT NULL,
	[min_age] [smallint] NULL,
	[max_age] [smallint] NULL,
	[min_participants] [smallint] NULL,
	[max_participants] [smallint] NULL,
	[description] [nvarchar](max) NULL,
	[class_mode] [tinyint] NOT NULL,
 CONSTRAINT [PK_BOOKING_CLASS_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_CLASS_SCHEDULES]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_CLASS_SCHEDULES](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[day_of_week] [tinyint] NOT NULL,
	[start_time] [time](5) NOT NULL,
	[end_time] [time](5) NOT NULL,
	[effective_from] [datetime2](0) NOT NULL,
	[effective_to] [datetime2](0) NULL,
 CONSTRAINT [PK_BOOKING_CLASS_SCHEDULES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_DATES]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_DATES](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[start_datetime] [datetime2](0) NOT NULL,
	[end_datetime] [datetime2](0) NOT NULL,
	[status] [tinyint] NOT NULL,
 CONSTRAINT [PK_BOOKING_DATES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_PARTY_EVENT]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_PARTY_EVENT](
	[id] [bigint] NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[max_guests] [int] NULL,
	[gender_guests] [tinyint] NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_BOOKING_PARTY_EVENT_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_PRIVATE]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_PRIVATE](
	[booking_id] [bigint] NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_BOOKING_PRIVATE] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_TYPES]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_TYPES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_BOOKING_TYPES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUILDING_UNIT_USERS]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUILDING_UNIT_USERS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[building_unit_id] [bigint] NOT NULL,
	[relation_type] [int] NOT NULL,
	[is_resident] [bit] NOT NULL,
	[head_user_id] [bigint] NULL,
	[ownership_percent] [decimal](5, 2) NULL,
	[move_in_date] [date] NULL,
	[move_out_date] [date] NULL,
 CONSTRAINT [PK_BUILDING_UNIT_USERS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUILDING_UNITS]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUILDING_UNITS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[organization_location_id] [bigint] NOT NULL,
	[staircase] [int] NULL,
	[floor] [int] NULL,
	[unit_no] [varchar](100) NOT NULL,
	[parking_no] [varchar](100) NULL,
	[store_no] [varchar](100) NULL,
 CONSTRAINT [PK_BUILDING_UNITS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANCELLATION_POLICY]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANCELLATION_POLICY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_type_id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_CANCELLATION_POLICY] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANCELLATION_POLICY_RULES]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANCELLATION_POLICY_RULES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cancellation_policy_id] [int] NOT NULL,
	[cancellation_type] [tinyint] NOT NULL,
	[time_period_start] [decimal](10, 2) NULL,
	[time_period_start_unit] [int] NULL,
	[time_period_end] [decimal](10, 2) NULL,
	[time_period_end_unit] [int] NULL,
	[penalty_type] [tinyint] NOT NULL,
	[penalty_value] [decimal](12, 2) NOT NULL,
	[penalty_value_unit] [int] NULL,
 CONSTRAINT [PK_CANCELLATION_POLICY_RULES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHARGE_TYPES]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHARGE_TYPES](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_CHARGE_TYPES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHARGES]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHARGES](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[registration_id] [bigint] NULL,
	[charge_type_id] [smallint] NOT NULL,
	[booking_asset_id] [bigint] NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[amount_unit_id] [int] NOT NULL,
	[due_date] [datetime2](0) NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_CHARGES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASS_ATTENDANCE]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS_ATTENDANCE](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[class_registration_id] [bigint] NOT NULL,
	[booking_date_id] [bigint] NOT NULL,
 CONSTRAINT [PK_CLASS_ATTENDANCE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASS_REGISTRATION]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS_REGISTRATION](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[registered_at] [datetime2](0) NOT NULL,
	[status] [tinyint] NOT NULL,
	[purchased_session] [int] NOT NULL,
	[valid_from] [datetime2](0) NULL,
	[valid_until] [datetime2](0) NULL,
 CONSTRAINT [PK_CLASS_REGISTRATION] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[code] [varchar](2) NOT NULL,
 CONSTRAINT [PK_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTRY_TRANSLATIONS]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY_TRANSLATIONS](
	[country_code] [varchar](2) NOT NULL,
	[language_code] [varchar](10) NOT NULL,
	[name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_COUNTRY_TRANSLATIONS] PRIMARY KEY CLUSTERED 
(
	[country_code] ASC,
	[language_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORGANIZATION_LOCATIONS]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORGANIZATION_LOCATIONS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[organization_id] [bigint] NOT NULL,
	[name] [varchar](200) NOT NULL,
	[country_code] [varchar](2) NOT NULL,
	[city] [varchar](200) NULL,
	[address] [nvarchar](max) NULL,
	[postal_code] [varchar](50) NULL,
 CONSTRAINT [PK_ORGANIZATION_LOCATIONS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORGANIZATIONS]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORGANIZATIONS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
 CONSTRAINT [PK_ORGANIZATIONS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_ALLOCATIONS]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_ALLOCATIONS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[payment_id] [bigint] NOT NULL,
	[charge_id] [bigint] NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[amount_unit_id] [int] NOT NULL,
 CONSTRAINT [PK_PAYMENT_ALLOCATIONS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_METHODS]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_METHODS](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_PAYMENT_METHODS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[payer_user_id] [bigint] NOT NULL,
	[payment_method_id] [smallint] NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[amount_unit_id] [int] NOT NULL,
	[paid_at] [datetime2](0) NOT NULL,
	[reference_number] [nvarchar](100) NULL,
	[reference_img] [varbinary](max) NULL,
	[reference_file_type] [varchar](100) NULL,
	[receiver_type] [tinyint] NOT NULL,
	[receiver_user_id] [bigint] NULL,
	[note] [nvarchar](max) NULL,
 CONSTRAINT [PK_PAYMENTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESOURCE_ASSET_PRICES]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESOURCE_ASSET_PRICES](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[resource_asset_id] [bigint] NOT NULL,
	[price] [decimal](12, 2) NOT NULL,
	[price_unit_id] [int] NOT NULL,
	[price_for] [tinyint] NOT NULL,
	[valid_from_date] [date] NOT NULL,
	[valid_to_date] [date] NULL,
 CONSTRAINT [PK_RESOURCE_ASSET_PRICES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESOURCE_ASSET_RULES]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESOURCE_ASSET_RULES](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[resource_asset_id] [bigint] NOT NULL,
	[booking_type_id] [int] NOT NULL,
	[asset_mode] [tinyint] NOT NULL,
 CONSTRAINT [PK_RESOURCE_ASSET_RULES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESOURCE_ASSETS]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESOURCE_ASSETS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[resource_id] [bigint] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[quantity] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_RESOURCE_ASSETS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESOURCES]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESOURCES](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[organization_location_id] [bigint] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_RESOURCES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[id] [int] NOT NULL,
	[code] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SETTLEMENTS]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SETTLEMENTS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[time_period_from] [datetime2](0) NOT NULL,
	[time_period_until] [datetime2](0) NOT NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[total_amount_unit_id] [int] NOT NULL,
	[tower_percentage] [tinyint] NOT NULL,
	[tower_amount] [decimal](12, 2) NOT NULL,
	[tower_amount_unit_id] [int] NOT NULL,
 CONSTRAINT [PK_SETTLEMENTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNITS]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNITS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_UNITS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_PROFILES]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PROFILES](
	[user_id] [bigint] NOT NULL,
	[national_code] [varchar](20) NULL,
	[country_code] [varchar](2) NULL,
	[birth_date] [date] NULL,
	[tel] [varchar](15) NULL,
	[address] [nvarchar](500) NULL,
	[EmergencyContactName] [nvarchar](200) NULL,
	[EmergencyContactMobile] [varchar](30) NULL,
	[EmergencyContactRelation] [nvarchar](100) NULL,
	[father_name] [nvarchar](100) NULL,
	[note] [nvarchar](2000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLES]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLES](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[organization_id] [bigint] NOT NULL,
	[organization_location_id] [bigint] NULL,
	[role_id] [int] NOT NULL,
	[valid_from_date] [date] NULL,
	[valid_to_date] [date] NULL,
 CONSTRAINT [PK_USER_ROLES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 9/3/2026 1:15:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[organization_id] [bigint] NULL,
	[mobile] [varchar](20) NULL,
	[gender] [tinyint] NULL,
	[referred_by_user_id] [bigint] NULL,
	[is_active] [bit] NOT NULL,
	[join_at] [date] NULL,
	[left_at] [date] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BOOKING_TYPES] ON 

INSERT [dbo].[BOOKING_TYPES] ([id], [code], [name]) VALUES (1, N'class', N'class')
SET IDENTITY_INSERT [dbo].[BOOKING_TYPES] OFF
GO
INSERT [dbo].[COUNTRY] ([code]) VALUES (N'1')
GO
INSERT [dbo].[COUNTRY_TRANSLATIONS] ([country_code], [language_code], [name]) VALUES (N'1', N'EN', N'IRAN')
INSERT [dbo].[COUNTRY_TRANSLATIONS] ([country_code], [language_code], [name]) VALUES (N'1', N'IR', N'ايران')
GO
SET IDENTITY_INSERT [dbo].[ORGANIZATION_LOCATIONS] ON 

INSERT [dbo].[ORGANIZATION_LOCATIONS] ([id], [organization_id], [name], [country_code], [city], [address], [postal_code]) VALUES (1, 1, N'برج بوستان', N'1', N'تبريز', N'مرزداران', N'123456')
SET IDENTITY_INSERT [dbo].[ORGANIZATION_LOCATIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[ORGANIZATIONS] ON 

INSERT [dbo].[ORGANIZATIONS] ([id], [name]) VALUES (1, N'برج بوستان')
SET IDENTITY_INSERT [dbo].[ORGANIZATIONS] OFF
GO
INSERT [dbo].[ROLES] ([id], [code]) VALUES (1, N'admin')
INSERT [dbo].[ROLES] ([id], [code]) VALUES (2, N'broadmember')
INSERT [dbo].[ROLES] ([id], [code]) VALUES (3, N'buildingmanager')
GO
SET IDENTITY_INSERT [dbo].[USER_ROLES] ON 

INSERT [dbo].[USER_ROLES] ([id], [user_id], [organization_id], [organization_location_id], [role_id], [valid_from_date], [valid_to_date]) VALUES (1, 1, 1, 1, 1, CAST(N'2026-03-03' AS Date), NULL)
INSERT [dbo].[USER_ROLES] ([id], [user_id], [organization_id], [organization_location_id], [role_id], [valid_from_date], [valid_to_date]) VALUES (2, 1, 1, 1, 8, CAST(N'2026-04-02' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[USER_ROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([id], [first_name], [last_name], [username], [password], [organization_id], [mobile], [gender], [referred_by_user_id], [is_active], [join_at], [left_at]) VALUES (1, N'محمد', N'محمدی', N'noyan', N'$2a$11$ncj8XCVNAhFA8UjftopIy.SeQLDHk7ubPEgo28xCY5TPPYLABlvdC', NULL, N'09145256775', 1, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_BOOKING_TYPES_CODE]    Script Date: 9/3/2026 1:15:25 AM ******/
ALTER TABLE [dbo].[BOOKING_TYPES] ADD  CONSTRAINT [UQ_BOOKING_TYPES_CODE] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CHARGE_TYPES_CODE]    Script Date: 9/3/2026 1:15:25 AM ******/
ALTER TABLE [dbo].[CHARGE_TYPES] ADD  CONSTRAINT [UQ_CHARGE_TYPES_CODE] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PAYMENT_METHODS_CODE]    Script Date: 9/3/2026 1:15:25 AM ******/
ALTER TABLE [dbo].[PAYMENT_METHODS] ADD  CONSTRAINT [UQ_PAYMENT_METHODS_CODE] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RESOURCE_ASSET_RULES]    Script Date: 9/3/2026 1:15:25 AM ******/
ALTER TABLE [dbo].[RESOURCE_ASSET_RULES] ADD  CONSTRAINT [UQ_RESOURCE_ASSET_RULES] UNIQUE NONCLUSTERED 
(
	[resource_asset_id] ASC,
	[booking_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_UNITS_CODE]    Script Date: 9/3/2026 1:15:25 AM ******/
ALTER TABLE [dbo].[UNITS] ADD  CONSTRAINT [UQ_UNITS_CODE] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_USERS_USERNAME]    Script Date: 9/3/2026 1:15:25 AM ******/
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [UQ_USERS_USERNAME] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKING] ADD  CONSTRAINT [DF_BOOKING_CREATED_AT]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[BUILDING_UNIT_USERS] ADD  CONSTRAINT [DF_BUILDING_UNIT_USERS_IS_RESIDENT]  DEFAULT ((0)) FOR [is_resident]
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY] ADD  CONSTRAINT [DF_CANCELLATION_POLICY_IS_ACTIVE]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[CLASS_REGISTRATION] ADD  CONSTRAINT [DF_CLASS_REGISTRATION_REGISTERED_AT]  DEFAULT (sysdatetime()) FOR [registered_at]
GO
ALTER TABLE [dbo].[PAYMENT_METHODS] ADD  CONSTRAINT [DF_PAYMENT_METHODS_IS_ACTIVE]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[UNITS] ADD  CONSTRAINT [DF_UNITS_IS_ACTIVE]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_IS_ACTIVE]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_CANCELLATION_POLICY] FOREIGN KEY([cancellation_policy_id])
REFERENCES [dbo].[CANCELLATION_POLICY] ([id])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_CANCELLATION_POLICY]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_CREATED_BY] FOREIGN KEY([created_by_user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_CREATED_BY]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_RESOURCE] FOREIGN KEY([resource_id])
REFERENCES [dbo].[RESOURCES] ([id])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_RESOURCE]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_TYPE] FOREIGN KEY([booking_type_id])
REFERENCES [dbo].[BOOKING_TYPES] ([id])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_TYPE]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_USERS] FOREIGN KEY([booker])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_USERS]
GO
ALTER TABLE [dbo].[BOOKING_ASSETS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_ASSETS_BOOKING] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKING] ([id])
GO
ALTER TABLE [dbo].[BOOKING_ASSETS] CHECK CONSTRAINT [FK_BOOKING_ASSETS_BOOKING]
GO
ALTER TABLE [dbo].[BOOKING_ASSETS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_ASSETS_RESOURCE_ASSET] FOREIGN KEY([resource_asset_id])
REFERENCES [dbo].[RESOURCE_ASSETS] ([id])
GO
ALTER TABLE [dbo].[BOOKING_ASSETS] CHECK CONSTRAINT [FK_BOOKING_ASSETS_RESOURCE_ASSET]
GO
ALTER TABLE [dbo].[BOOKING_CHARGE_RULES]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_CHARGE_RULES_BOOKING] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKING] ([id])
GO
ALTER TABLE [dbo].[BOOKING_CHARGE_RULES] CHECK CONSTRAINT [FK_BOOKING_CHARGE_RULES_BOOKING]
GO
ALTER TABLE [dbo].[BOOKING_CLASS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_CLASS_BOOKING] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKING] ([id])
GO
ALTER TABLE [dbo].[BOOKING_CLASS] CHECK CONSTRAINT [FK_BOOKING_CLASS_BOOKING]
GO
ALTER TABLE [dbo].[BOOKING_CLASS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_CLASS_COACH] FOREIGN KEY([coach_user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[BOOKING_CLASS] CHECK CONSTRAINT [FK_BOOKING_CLASS_COACH]
GO
ALTER TABLE [dbo].[BOOKING_CLASS_SCHEDULES]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_CLASS_SCHEDULES_BOOKING] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKING] ([id])
GO
ALTER TABLE [dbo].[BOOKING_CLASS_SCHEDULES] CHECK CONSTRAINT [FK_BOOKING_CLASS_SCHEDULES_BOOKING]
GO
ALTER TABLE [dbo].[BOOKING_DATES]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_DATES_BOOKING] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKING] ([id])
GO
ALTER TABLE [dbo].[BOOKING_DATES] CHECK CONSTRAINT [FK_BOOKING_DATES_BOOKING]
GO
ALTER TABLE [dbo].[BOOKING_PARTY_EVENT]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_PARTY_EVENT_BOOKING] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKING] ([id])
GO
ALTER TABLE [dbo].[BOOKING_PARTY_EVENT] CHECK CONSTRAINT [FK_BOOKING_PARTY_EVENT_BOOKING]
GO
ALTER TABLE [dbo].[BOOKING_PRIVATE]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_PRIVATE_BOOKING] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKING] ([id])
GO
ALTER TABLE [dbo].[BOOKING_PRIVATE] CHECK CONSTRAINT [FK_BOOKING_PRIVATE_BOOKING]
GO
ALTER TABLE [dbo].[BUILDING_UNIT_USERS]  WITH CHECK ADD  CONSTRAINT [FK_BUILDING_UNIT_USERS_HEAD] FOREIGN KEY([head_user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[BUILDING_UNIT_USERS] CHECK CONSTRAINT [FK_BUILDING_UNIT_USERS_HEAD]
GO
ALTER TABLE [dbo].[BUILDING_UNIT_USERS]  WITH CHECK ADD  CONSTRAINT [FK_BUILDING_UNIT_USERS_UNIT] FOREIGN KEY([building_unit_id])
REFERENCES [dbo].[BUILDING_UNITS] ([id])
GO
ALTER TABLE [dbo].[BUILDING_UNIT_USERS] CHECK CONSTRAINT [FK_BUILDING_UNIT_USERS_UNIT]
GO
ALTER TABLE [dbo].[BUILDING_UNIT_USERS]  WITH CHECK ADD  CONSTRAINT [FK_BUILDING_UNIT_USERS_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[BUILDING_UNIT_USERS] CHECK CONSTRAINT [FK_BUILDING_UNIT_USERS_USER]
GO
ALTER TABLE [dbo].[BUILDING_UNITS]  WITH CHECK ADD  CONSTRAINT [FK_BUILDING_UNITS_LOCATION] FOREIGN KEY([organization_location_id])
REFERENCES [dbo].[ORGANIZATION_LOCATIONS] ([id])
GO
ALTER TABLE [dbo].[BUILDING_UNITS] CHECK CONSTRAINT [FK_BUILDING_UNITS_LOCATION]
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY]  WITH CHECK ADD  CONSTRAINT [FK_CANCELLATION_POLICY_BOOKING_TYPE] FOREIGN KEY([booking_type_id])
REFERENCES [dbo].[BOOKING_TYPES] ([id])
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY] CHECK CONSTRAINT [FK_CANCELLATION_POLICY_BOOKING_TYPE]
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY_RULES]  WITH CHECK ADD  CONSTRAINT [FK_CANCELLATION_POLICY_RULES_END_UNIT] FOREIGN KEY([time_period_end_unit])
REFERENCES [dbo].[UNITS] ([id])
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY_RULES] CHECK CONSTRAINT [FK_CANCELLATION_POLICY_RULES_END_UNIT]
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY_RULES]  WITH CHECK ADD  CONSTRAINT [FK_CANCELLATION_POLICY_RULES_PENALTY_UNIT] FOREIGN KEY([penalty_value_unit])
REFERENCES [dbo].[UNITS] ([id])
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY_RULES] CHECK CONSTRAINT [FK_CANCELLATION_POLICY_RULES_PENALTY_UNIT]
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY_RULES]  WITH CHECK ADD  CONSTRAINT [FK_CANCELLATION_POLICY_RULES_POLICY] FOREIGN KEY([cancellation_policy_id])
REFERENCES [dbo].[CANCELLATION_POLICY] ([id])
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY_RULES] CHECK CONSTRAINT [FK_CANCELLATION_POLICY_RULES_POLICY]
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY_RULES]  WITH CHECK ADD  CONSTRAINT [FK_CANCELLATION_POLICY_RULES_START_UNIT] FOREIGN KEY([time_period_start_unit])
REFERENCES [dbo].[UNITS] ([id])
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY_RULES] CHECK CONSTRAINT [FK_CANCELLATION_POLICY_RULES_START_UNIT]
GO
ALTER TABLE [dbo].[CHARGES]  WITH CHECK ADD  CONSTRAINT [FK_CHARGES_AMOUNT_UNIT] FOREIGN KEY([amount_unit_id])
REFERENCES [dbo].[UNITS] ([id])
GO
ALTER TABLE [dbo].[CHARGES] CHECK CONSTRAINT [FK_CHARGES_AMOUNT_UNIT]
GO
ALTER TABLE [dbo].[CHARGES]  WITH CHECK ADD  CONSTRAINT [FK_CHARGES_BOOKING] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKING] ([id])
GO
ALTER TABLE [dbo].[CHARGES] CHECK CONSTRAINT [FK_CHARGES_BOOKING]
GO
ALTER TABLE [dbo].[CHARGES]  WITH CHECK ADD  CONSTRAINT [FK_CHARGES_BOOKING_ASSETS] FOREIGN KEY([booking_asset_id])
REFERENCES [dbo].[BOOKING_ASSETS] ([id])
GO
ALTER TABLE [dbo].[CHARGES] CHECK CONSTRAINT [FK_CHARGES_BOOKING_ASSETS]
GO
ALTER TABLE [dbo].[CHARGES]  WITH CHECK ADD  CONSTRAINT [FK_CHARGES_REGISTRATION] FOREIGN KEY([registration_id])
REFERENCES [dbo].[CLASS_REGISTRATION] ([id])
GO
ALTER TABLE [dbo].[CHARGES] CHECK CONSTRAINT [FK_CHARGES_REGISTRATION]
GO
ALTER TABLE [dbo].[CHARGES]  WITH CHECK ADD  CONSTRAINT [FK_CHARGES_TYPE] FOREIGN KEY([charge_type_id])
REFERENCES [dbo].[CHARGE_TYPES] ([id])
GO
ALTER TABLE [dbo].[CHARGES] CHECK CONSTRAINT [FK_CHARGES_TYPE]
GO
ALTER TABLE [dbo].[CLASS_ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_CLASS_ATTENDANCE_BOOKING_DATE] FOREIGN KEY([booking_date_id])
REFERENCES [dbo].[BOOKING_DATES] ([id])
GO
ALTER TABLE [dbo].[CLASS_ATTENDANCE] CHECK CONSTRAINT [FK_CLASS_ATTENDANCE_BOOKING_DATE]
GO
ALTER TABLE [dbo].[CLASS_ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_CLASS_ATTENDANCE_REGISTRATION] FOREIGN KEY([class_registration_id])
REFERENCES [dbo].[CLASS_REGISTRATION] ([id])
GO
ALTER TABLE [dbo].[CLASS_ATTENDANCE] CHECK CONSTRAINT [FK_CLASS_ATTENDANCE_REGISTRATION]
GO
ALTER TABLE [dbo].[CLASS_REGISTRATION]  WITH CHECK ADD  CONSTRAINT [FK_CLASS_REGISTRATION_BOOKING] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKING] ([id])
GO
ALTER TABLE [dbo].[CLASS_REGISTRATION] CHECK CONSTRAINT [FK_CLASS_REGISTRATION_BOOKING]
GO
ALTER TABLE [dbo].[CLASS_REGISTRATION]  WITH CHECK ADD  CONSTRAINT [FK_CLASS_REGISTRATION_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[CLASS_REGISTRATION] CHECK CONSTRAINT [FK_CLASS_REGISTRATION_USER]
GO
ALTER TABLE [dbo].[COUNTRY_TRANSLATIONS]  WITH CHECK ADD  CONSTRAINT [FK_COUNTRY_TRANSLATIONS_COUNTRY] FOREIGN KEY([country_code])
REFERENCES [dbo].[COUNTRY] ([code])
GO
ALTER TABLE [dbo].[COUNTRY_TRANSLATIONS] CHECK CONSTRAINT [FK_COUNTRY_TRANSLATIONS_COUNTRY]
GO
ALTER TABLE [dbo].[ORGANIZATION_LOCATIONS]  WITH CHECK ADD  CONSTRAINT [FK_ORGANIZATION_LOCATIONS_COUNTRY] FOREIGN KEY([country_code])
REFERENCES [dbo].[COUNTRY] ([code])
GO
ALTER TABLE [dbo].[ORGANIZATION_LOCATIONS] CHECK CONSTRAINT [FK_ORGANIZATION_LOCATIONS_COUNTRY]
GO
ALTER TABLE [dbo].[ORGANIZATION_LOCATIONS]  WITH CHECK ADD  CONSTRAINT [FK_ORGANIZATION_LOCATIONS_ORGANIZATION] FOREIGN KEY([organization_id])
REFERENCES [dbo].[ORGANIZATIONS] ([id])
GO
ALTER TABLE [dbo].[ORGANIZATION_LOCATIONS] CHECK CONSTRAINT [FK_ORGANIZATION_LOCATIONS_ORGANIZATION]
GO
ALTER TABLE [dbo].[PAYMENT_ALLOCATIONS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENT_ALLOCATIONS_AMOUNT_UNIT] FOREIGN KEY([amount_unit_id])
REFERENCES [dbo].[UNITS] ([id])
GO
ALTER TABLE [dbo].[PAYMENT_ALLOCATIONS] CHECK CONSTRAINT [FK_PAYMENT_ALLOCATIONS_AMOUNT_UNIT]
GO
ALTER TABLE [dbo].[PAYMENT_ALLOCATIONS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENT_ALLOCATIONS_CHARGE] FOREIGN KEY([charge_id])
REFERENCES [dbo].[CHARGES] ([id])
GO
ALTER TABLE [dbo].[PAYMENT_ALLOCATIONS] CHECK CONSTRAINT [FK_PAYMENT_ALLOCATIONS_CHARGE]
GO
ALTER TABLE [dbo].[PAYMENT_ALLOCATIONS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENT_ALLOCATIONS_PAYMENT] FOREIGN KEY([payment_id])
REFERENCES [dbo].[PAYMENTS] ([id])
GO
ALTER TABLE [dbo].[PAYMENT_ALLOCATIONS] CHECK CONSTRAINT [FK_PAYMENT_ALLOCATIONS_PAYMENT]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENTS_AMOUNT_UNIT] FOREIGN KEY([amount_unit_id])
REFERENCES [dbo].[UNITS] ([id])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAYMENTS_AMOUNT_UNIT]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENTS_METHOD] FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[PAYMENT_METHODS] ([id])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAYMENTS_METHOD]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENTS_PAYER] FOREIGN KEY([payer_user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAYMENTS_PAYER]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENTS_RECEIVER_USER] FOREIGN KEY([receiver_user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAYMENTS_RECEIVER_USER]
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_PRICES]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_ASSET_PRICES_ASSET] FOREIGN KEY([resource_asset_id])
REFERENCES [dbo].[RESOURCE_ASSETS] ([id])
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_PRICES] CHECK CONSTRAINT [FK_RESOURCE_ASSET_PRICES_ASSET]
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_PRICES]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_ASSET_PRICES_PRICE_UNIT] FOREIGN KEY([price_unit_id])
REFERENCES [dbo].[UNITS] ([id])
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_PRICES] CHECK CONSTRAINT [FK_RESOURCE_ASSET_PRICES_PRICE_UNIT]
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_RULES]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_ASSET_RULES_ASSET] FOREIGN KEY([resource_asset_id])
REFERENCES [dbo].[RESOURCE_ASSETS] ([id])
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_RULES] CHECK CONSTRAINT [FK_RESOURCE_ASSET_RULES_ASSET]
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_RULES]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_ASSET_RULES_BOOKING_TYPE] FOREIGN KEY([booking_type_id])
REFERENCES [dbo].[BOOKING_TYPES] ([id])
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_RULES] CHECK CONSTRAINT [FK_RESOURCE_ASSET_RULES_BOOKING_TYPE]
GO
ALTER TABLE [dbo].[RESOURCE_ASSETS]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_ASSETS_RESOURCE] FOREIGN KEY([resource_id])
REFERENCES [dbo].[RESOURCES] ([id])
GO
ALTER TABLE [dbo].[RESOURCE_ASSETS] CHECK CONSTRAINT [FK_RESOURCE_ASSETS_RESOURCE]
GO
ALTER TABLE [dbo].[RESOURCES]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCES_LOCATION] FOREIGN KEY([organization_location_id])
REFERENCES [dbo].[ORGANIZATION_LOCATIONS] ([id])
GO
ALTER TABLE [dbo].[RESOURCES] CHECK CONSTRAINT [FK_RESOURCES_LOCATION]
GO
ALTER TABLE [dbo].[SETTLEMENTS]  WITH CHECK ADD  CONSTRAINT [FK_SETTLEMENTS_BOOKING] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKING] ([id])
GO
ALTER TABLE [dbo].[SETTLEMENTS] CHECK CONSTRAINT [FK_SETTLEMENTS_BOOKING]
GO
ALTER TABLE [dbo].[SETTLEMENTS]  WITH CHECK ADD  CONSTRAINT [FK_SETTLEMENTS_TOTAL_UNIT] FOREIGN KEY([total_amount_unit_id])
REFERENCES [dbo].[UNITS] ([id])
GO
ALTER TABLE [dbo].[SETTLEMENTS] CHECK CONSTRAINT [FK_SETTLEMENTS_TOTAL_UNIT]
GO
ALTER TABLE [dbo].[SETTLEMENTS]  WITH CHECK ADD  CONSTRAINT [FK_SETTLEMENTS_TOWER_UNIT] FOREIGN KEY([tower_amount_unit_id])
REFERENCES [dbo].[UNITS] ([id])
GO
ALTER TABLE [dbo].[SETTLEMENTS] CHECK CONSTRAINT [FK_SETTLEMENTS_TOWER_UNIT]
GO
ALTER TABLE [dbo].[USER_PROFILES]  WITH CHECK ADD  CONSTRAINT [FK_USER_PROFILES_COUNTRY] FOREIGN KEY([country_code])
REFERENCES [dbo].[COUNTRY] ([code])
GO
ALTER TABLE [dbo].[USER_PROFILES] CHECK CONSTRAINT [FK_USER_PROFILES_COUNTRY]
GO
ALTER TABLE [dbo].[USER_PROFILES]  WITH CHECK ADD  CONSTRAINT [FK_USER_PROFILES_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[USER_PROFILES] CHECK CONSTRAINT [FK_USER_PROFILES_USERS]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLES_ORGANIZATION_LOCATIONS] FOREIGN KEY([organization_location_id])
REFERENCES [dbo].[ORGANIZATION_LOCATIONS] ([id])
GO
ALTER TABLE [dbo].[USER_ROLES] CHECK CONSTRAINT [FK_USER_ROLES_ORGANIZATION_LOCATIONS]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLES_ORGANIZATIONS] FOREIGN KEY([organization_id])
REFERENCES [dbo].[ORGANIZATIONS] ([id])
GO
ALTER TABLE [dbo].[USER_ROLES] CHECK CONSTRAINT [FK_USER_ROLES_ORGANIZATIONS]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLES_ROLES] FOREIGN KEY([role_id])
REFERENCES [dbo].[ROLES] ([id])
GO
ALTER TABLE [dbo].[USER_ROLES] CHECK CONSTRAINT [FK_USER_ROLES_ROLES]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLES_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[USER_ROLES] CHECK CONSTRAINT [FK_USER_ROLES_USER]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_ORGANIZATIONS] FOREIGN KEY([organization_id])
REFERENCES [dbo].[ORGANIZATIONS] ([id])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_ORGANIZATIONS]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_USERS1] FOREIGN KEY([referred_by_user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_USERS1]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_PRICE] CHECK  (([booking_price] IS NULL OR [booking_price]>=(0)))
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [CK_BOOKING_PRICE]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_STATUS] CHECK  (([status]>=(1) AND [status]<=(4)))
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [CK_BOOKING_STATUS]
GO
ALTER TABLE [dbo].[BOOKING_ASSETS]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_ASSETS_DAMAGED] CHECK  (([damaged_quantity] IS NULL OR [returned_quantity] IS NULL OR [damaged_quantity]<=[returned_quantity]))
GO
ALTER TABLE [dbo].[BOOKING_ASSETS] CHECK CONSTRAINT [CK_BOOKING_ASSETS_DAMAGED]
GO
ALTER TABLE [dbo].[BOOKING_ASSETS]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_ASSETS_QUANTITIES] CHECK  (([booked_quantity]>=(0) AND ([delivered_quantity] IS NULL OR [delivered_quantity]>=(0)) AND ([returned_quantity] IS NULL OR [returned_quantity]>=(0)) AND ([damaged_quantity] IS NULL OR [damaged_quantity]>=(0))))
GO
ALTER TABLE [dbo].[BOOKING_ASSETS] CHECK CONSTRAINT [CK_BOOKING_ASSETS_QUANTITIES]
GO
ALTER TABLE [dbo].[BOOKING_ASSETS]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_ASSETS_RETURNED] CHECK  (([returned_quantity] IS NULL OR [delivered_quantity] IS NULL OR [returned_quantity]<=[delivered_quantity]))
GO
ALTER TABLE [dbo].[BOOKING_ASSETS] CHECK CONSTRAINT [CK_BOOKING_ASSETS_RETURNED]
GO
ALTER TABLE [dbo].[BOOKING_CHARGE_RULES]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_CHARGE_RULES_DATES] CHECK  (([valid_until] IS NULL OR [valid_until]>=[valid_from]))
GO
ALTER TABLE [dbo].[BOOKING_CHARGE_RULES] CHECK CONSTRAINT [CK_BOOKING_CHARGE_RULES_DATES]
GO
ALTER TABLE [dbo].[BOOKING_CHARGE_RULES]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_CHARGE_RULES_PARTICIPANTS] CHECK  (([min_participants]>=(0) AND [max_participants]>=[min_participants]))
GO
ALTER TABLE [dbo].[BOOKING_CHARGE_RULES] CHECK CONSTRAINT [CK_BOOKING_CHARGE_RULES_PARTICIPANTS]
GO
ALTER TABLE [dbo].[BOOKING_CHARGE_RULES]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_CHARGE_RULES_PERCENTAGE] CHECK  ((([tower_percentage]+[coach_percentage])=(100)))
GO
ALTER TABLE [dbo].[BOOKING_CHARGE_RULES] CHECK CONSTRAINT [CK_BOOKING_CHARGE_RULES_PERCENTAGE]
GO
ALTER TABLE [dbo].[BOOKING_CLASS]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_CLASS_GENDER] CHECK  (([gender_restriction] IS NULL OR ([gender_restriction]=(3) OR [gender_restriction]=(2) OR [gender_restriction]=(1))))
GO
ALTER TABLE [dbo].[BOOKING_CLASS] CHECK CONSTRAINT [CK_BOOKING_CLASS_GENDER]
GO
ALTER TABLE [dbo].[BOOKING_CLASS]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_CLASS_MODE] CHECK  (([class_mode]=(2) OR [class_mode]=(1)))
GO
ALTER TABLE [dbo].[BOOKING_CLASS] CHECK CONSTRAINT [CK_BOOKING_CLASS_MODE]
GO
ALTER TABLE [dbo].[BOOKING_CLASS_SCHEDULES]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_CLASS_SCHEDULES_DAY] CHECK  (([day_of_week]>=(1) AND [day_of_week]<=(7)))
GO
ALTER TABLE [dbo].[BOOKING_CLASS_SCHEDULES] CHECK CONSTRAINT [CK_BOOKING_CLASS_SCHEDULES_DAY]
GO
ALTER TABLE [dbo].[BOOKING_CLASS_SCHEDULES]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_CLASS_SCHEDULES_TIME] CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [dbo].[BOOKING_CLASS_SCHEDULES] CHECK CONSTRAINT [CK_BOOKING_CLASS_SCHEDULES_TIME]
GO
ALTER TABLE [dbo].[BOOKING_DATES]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_DATES_STATUS] CHECK  (([status]>=(1) AND [status]<=(3)))
GO
ALTER TABLE [dbo].[BOOKING_DATES] CHECK CONSTRAINT [CK_BOOKING_DATES_STATUS]
GO
ALTER TABLE [dbo].[BOOKING_DATES]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_DATES_TIME] CHECK  (([end_datetime]>[start_datetime]))
GO
ALTER TABLE [dbo].[BOOKING_DATES] CHECK CONSTRAINT [CK_BOOKING_DATES_TIME]
GO
ALTER TABLE [dbo].[BOOKING_PARTY_EVENT]  WITH CHECK ADD  CONSTRAINT [CK_BOOKING_PARTY_EVENT_GENDER] CHECK  (([gender_guests] IS NULL OR ([gender_guests]=(3) OR [gender_guests]=(2) OR [gender_guests]=(1))))
GO
ALTER TABLE [dbo].[BOOKING_PARTY_EVENT] CHECK CONSTRAINT [CK_BOOKING_PARTY_EVENT_GENDER]
GO
ALTER TABLE [dbo].[BUILDING_UNIT_USERS]  WITH CHECK ADD  CONSTRAINT [CK_BUILDING_UNIT_USERS_DATES] CHECK  (([move_out_date] IS NULL OR [move_in_date] IS NULL OR [move_out_date]>=[move_in_date]))
GO
ALTER TABLE [dbo].[BUILDING_UNIT_USERS] CHECK CONSTRAINT [CK_BUILDING_UNIT_USERS_DATES]
GO
ALTER TABLE [dbo].[BUILDING_UNIT_USERS]  WITH CHECK ADD  CONSTRAINT [CK_BUILDING_UNIT_USERS_OWNERSHIP] CHECK  (([ownership_percent] IS NULL OR [ownership_percent]>=(0) AND [ownership_percent]<=(100)))
GO
ALTER TABLE [dbo].[BUILDING_UNIT_USERS] CHECK CONSTRAINT [CK_BUILDING_UNIT_USERS_OWNERSHIP]
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY_RULES]  WITH CHECK ADD  CONSTRAINT [CK_CANCELLATION_POLICY_RULES_PENALTY] CHECK  (([penalty_value]>=(0)))
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY_RULES] CHECK CONSTRAINT [CK_CANCELLATION_POLICY_RULES_PENALTY]
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY_RULES]  WITH CHECK ADD  CONSTRAINT [CK_CANCELLATION_POLICY_RULES_PENALTY_TYPE] CHECK  (([penalty_type]=(2) OR [penalty_type]=(1)))
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY_RULES] CHECK CONSTRAINT [CK_CANCELLATION_POLICY_RULES_PENALTY_TYPE]
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY_RULES]  WITH CHECK ADD  CONSTRAINT [CK_CANCELLATION_POLICY_RULES_TYPE] CHECK  (([cancellation_type]>=(1) AND [cancellation_type]<=(3)))
GO
ALTER TABLE [dbo].[CANCELLATION_POLICY_RULES] CHECK CONSTRAINT [CK_CANCELLATION_POLICY_RULES_TYPE]
GO
ALTER TABLE [dbo].[CHARGES]  WITH CHECK ADD  CONSTRAINT [CK_CHARGES_AMOUNT] CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[CHARGES] CHECK CONSTRAINT [CK_CHARGES_AMOUNT]
GO
ALTER TABLE [dbo].[CLASS_REGISTRATION]  WITH CHECK ADD  CONSTRAINT [CK_CLASS_REGISTRATION_DATES] CHECK  (([valid_until] IS NULL OR [valid_from] IS NULL OR [valid_until]>=[valid_from]))
GO
ALTER TABLE [dbo].[CLASS_REGISTRATION] CHECK CONSTRAINT [CK_CLASS_REGISTRATION_DATES]
GO
ALTER TABLE [dbo].[CLASS_REGISTRATION]  WITH CHECK ADD  CONSTRAINT [CK_CLASS_REGISTRATION_SESSION] CHECK  (([purchased_session]>(0)))
GO
ALTER TABLE [dbo].[CLASS_REGISTRATION] CHECK CONSTRAINT [CK_CLASS_REGISTRATION_SESSION]
GO
ALTER TABLE [dbo].[PAYMENT_ALLOCATIONS]  WITH CHECK ADD  CONSTRAINT [CK_PAYMENT_ALLOCATIONS_AMOUNT] CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[PAYMENT_ALLOCATIONS] CHECK CONSTRAINT [CK_PAYMENT_ALLOCATIONS_AMOUNT]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [CK_PAYMENTS_AMOUNT] CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [CK_PAYMENTS_AMOUNT]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [CK_PAYMENTS_RECEIVER] CHECK  (([receiver_type]=(1) AND [receiver_user_id] IS NULL OR [receiver_type]=(2) AND [receiver_user_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [CK_PAYMENTS_RECEIVER]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [CK_PAYMENTS_RECEIVER_TYPE] CHECK  (([receiver_type]=(2) OR [receiver_type]=(1)))
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [CK_PAYMENTS_RECEIVER_TYPE]
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_PRICES]  WITH CHECK ADD  CONSTRAINT [CK_RESOURCE_ASSET_PRICES_DATES] CHECK  (([valid_to_date] IS NULL OR [valid_to_date]>=[valid_from_date]))
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_PRICES] CHECK CONSTRAINT [CK_RESOURCE_ASSET_PRICES_DATES]
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_PRICES]  WITH CHECK ADD  CONSTRAINT [CK_RESOURCE_ASSET_PRICES_PRICE] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_PRICES] CHECK CONSTRAINT [CK_RESOURCE_ASSET_PRICES_PRICE]
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_PRICES]  WITH CHECK ADD  CONSTRAINT [CK_RESOURCE_ASSET_PRICES_PRICE_FOR] CHECK  (([price_for]>=(1) AND [price_for]<=(5)))
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_PRICES] CHECK CONSTRAINT [CK_RESOURCE_ASSET_PRICES_PRICE_FOR]
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_RULES]  WITH CHECK ADD  CONSTRAINT [CK_RESOURCE_ASSET_RULES_MODE] CHECK  (([asset_mode]>=(1) AND [asset_mode]<=(4)))
GO
ALTER TABLE [dbo].[RESOURCE_ASSET_RULES] CHECK CONSTRAINT [CK_RESOURCE_ASSET_RULES_MODE]
GO
ALTER TABLE [dbo].[RESOURCE_ASSETS]  WITH CHECK ADD  CONSTRAINT [CK_RESOURCE_ASSETS_QUANTITY] CHECK  (([quantity]>=(0)))
GO
ALTER TABLE [dbo].[RESOURCE_ASSETS] CHECK CONSTRAINT [CK_RESOURCE_ASSETS_QUANTITY]
GO
ALTER TABLE [dbo].[SETTLEMENTS]  WITH CHECK ADD  CONSTRAINT [CK_SETTLEMENTS_AMOUNTS] CHECK  (([total_amount]>=(0) AND [tower_amount]>=(0)))
GO
ALTER TABLE [dbo].[SETTLEMENTS] CHECK CONSTRAINT [CK_SETTLEMENTS_AMOUNTS]
GO
ALTER TABLE [dbo].[SETTLEMENTS]  WITH CHECK ADD  CONSTRAINT [CK_SETTLEMENTS_PERCENTAGE] CHECK  (([tower_percentage]>=(0) AND [tower_percentage]<=(100)))
GO
ALTER TABLE [dbo].[SETTLEMENTS] CHECK CONSTRAINT [CK_SETTLEMENTS_PERCENTAGE]
GO
ALTER TABLE [dbo].[SETTLEMENTS]  WITH CHECK ADD  CONSTRAINT [CK_SETTLEMENTS_PERIOD] CHECK  (([time_period_until]>[time_period_from]))
GO
ALTER TABLE [dbo].[SETTLEMENTS] CHECK CONSTRAINT [CK_SETTLEMENTS_PERIOD]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH CHECK ADD  CONSTRAINT [CK_USER_ROLES_DATES] CHECK  (([valid_to_date] IS NULL OR [valid_from_date] IS NULL OR [valid_to_date]>=[valid_from_date]))
GO
ALTER TABLE [dbo].[USER_ROLES] CHECK CONSTRAINT [CK_USER_ROLES_DATES]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [CK_USERS_DATES] CHECK  (([left_at] IS NULL OR [join_at] IS NULL OR [left_at]>=[join_at]))
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [CK_USERS_DATES]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [CK_USERS_GENDER] CHECK  (([gender] IS NULL OR ([gender]=(2) OR [gender]=(1))))
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [CK_USERS_GENDER]
GO
/****** Object:  StoredProcedure [dbo].[USERS_LOGIN]    Script Date: 9/3/2026 1:15:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<n_sh>
-- Create date: <8/26/2026>
-- Description:	<select for login verifying>
-- =============================================
CREATE PROCEDURE [dbo].[USERS_LOGIN]
	@username nvarchar(50)
	
AS
BEGIN
	SET NOCOUNT ON;
	SELECT A.*,B.valid_from_date, B.valid_to_date,C.code as role_code FROM

		(SELECT  id,first_name,last_name,username,password from USERS where username=@username and is_active=1) AS A
		LEFT JOIN
		(SELECT user_id,role_id,valid_from_date,valid_to_date FROM USER_ROLES where valid_from_date<=GETDATE() and (valid_to_date is null  or valid_to_date>=GETDATE()))as B
		on A.id=B.user_id
		LEFT JOIN 
		ROLES AS C
		ON B.role_id = C.id;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'کاربری ایجاد کننده رزرو در سیستم' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING', @level2type=N'COLUMN',@level2name=N'created_by_user_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'صاحب رزرو' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING', @level2type=N'COLUMN',@level2name=N'booker'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نوع رزرو ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING', @level2type=N'COLUMN',@level2name=N'booking_type_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تعداد رزرو شده' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_ASSETS', @level2type=N'COLUMN',@level2name=N'booked_quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تعداد داده شده نهایی' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_ASSETS', @level2type=N'COLUMN',@level2name=N'delivered_quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تعداد برگردانده شده' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_ASSETS', @level2type=N'COLUMN',@level2name=N'returned_quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تعداد بازگردانده شده خراب و مشکل دار' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_ASSETS', @level2type=N'COLUMN',@level2name=N'damaged_quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'حداقل شرکت کنندگان' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_CHARGE_RULES', @level2type=N'COLUMN',@level2name=N'min_participants'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'حداکثر شرکت کنندگان' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_CHARGE_RULES', @level2type=N'COLUMN',@level2name=N'max_participants'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'درصد سهم برج' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_CHARGE_RULES', @level2type=N'COLUMN',@level2name=N'tower_percentage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'درصد سهم مربی' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_CHARGE_RULES', @level2type=N'COLUMN',@level2name=N'coach_percentage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'اعتبار از تاریخ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_CHARGE_RULES', @level2type=N'COLUMN',@level2name=N'valid_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'اعتبار تا تاریخ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_CHARGE_RULES', @level2type=N'COLUMN',@level2name=N'valid_until'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'مربی' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_CLASS', @level2type=N'COLUMN',@level2name=N'coach_user_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-femail 2-mail 3-both' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_CLASS', @level2type=N'COLUMN',@level2name=N'gender_restriction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-term 2-flexable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_CLASS', @level2type=N'COLUMN',@level2name=N'class_mode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'قابل اجرا از' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_CLASS_SCHEDULES', @level2type=N'COLUMN',@level2name=N'effective_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'قابل اجرا تا در کلاس هایی مثل یوگا لازم نیست تاریخ پایان وارد شود' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_CLASS_SCHEDULES', @level2type=N'COLUMN',@level2name=N'effective_to'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-schedualed 2-cancelled 3-completed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_DATES', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-femail 2-mail 3-both' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKING_PARTY_EVENT', @level2type=N'COLUMN',@level2name=N'gender_guests'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-owner 2-tenant 3-resident(f.e in their fathers home)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUILDING_UNIT_USERS', @level2type=N'COLUMN',@level2name=N'relation_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'آیا ساکن است؟' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUILDING_UNIT_USERS', @level2type=N'COLUMN',@level2name=N'is_resident'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'کاربر پاسخگوی واحد' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUILDING_UNIT_USERS', @level2type=N'COLUMN',@level2name=N'head_user_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'درصد مالکیت' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUILDING_UNIT_USERS', @level2type=N'COLUMN',@level2name=N'ownership_percent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تاریخ خرید یا ورود به برج' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUILDING_UNIT_USERS', @level2type=N'COLUMN',@level2name=N'move_in_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تاریخ فروش یا خروج از برج' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUILDING_UNIT_USERS', @level2type=N'COLUMN',@level2name=N'move_out_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'راهپله' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUILDING_UNITS', @level2type=N'COLUMN',@level2name=N'staircase'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'طبقه' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUILDING_UNITS', @level2type=N'COLUMN',@level2name=N'floor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره واحد' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUILDING_UNITS', @level2type=N'COLUMN',@level2name=N'unit_no'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره پارکینگ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUILDING_UNITS', @level2type=N'COLUMN',@level2name=N'parking_no'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره انباری' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUILDING_UNITS', @level2type=N'COLUMN',@level2name=N'store_no'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-before start 2-at start 3-after start' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CANCELLATION_POLICY_RULES', @level2type=N'COLUMN',@level2name=N'cancellation_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شروع بازه زمانی کنسلی' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CANCELLATION_POLICY_RULES', @level2type=N'COLUMN',@level2name=N'time_period_start'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'واحد شروع بازه زمانی' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CANCELLATION_POLICY_RULES', @level2type=N'COLUMN',@level2name=N'time_period_start_unit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تا پایان بازه زمانی کنسلی' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CANCELLATION_POLICY_RULES', @level2type=N'COLUMN',@level2name=N'time_period_end'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'واحد تا پایان بازه زمانی' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CANCELLATION_POLICY_RULES', @level2type=N'COLUMN',@level2name=N'time_period_end_unit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نوع جریم  1-percently  2-fixed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CANCELLATION_POLICY_RULES', @level2type=N'COLUMN',@level2name=N'penalty_value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'واحد جریمه اگر ثابت باشد' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CANCELLATION_POLICY_RULES', @level2type=N'COLUMN',@level2name=N'penalty_value_unit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تاریخ سررسید' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CHARGES', @level2type=N'COLUMN',@level2name=N'due_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-active 2-cancelled 3-expired 4-completed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CLASS_REGISTRATION', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تعداد جلسات خریداری شده' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CLASS_REGISTRATION', @level2type=N'COLUMN',@level2name=N'purchased_session'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'اعتبار از تاریخ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CLASS_REGISTRATION', @level2type=N'COLUMN',@level2name=N'valid_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'اعتبار تا تاریخ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CLASS_REGISTRATION', @level2type=N'COLUMN',@level2name=N'valid_until'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره پیگیری' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PAYMENTS', @level2type=N'COLUMN',@level2name=N'reference_number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'عکس سند پرداخت' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PAYMENTS', @level2type=N'COLUMN',@level2name=N'reference_img'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نوع عکس' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PAYMENTS', @level2type=N'COLUMN',@level2name=N'reference_file_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نوع گیرنده : 1-tower 2-coach 3-party or event host' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PAYMENTS', @level2type=N'COLUMN',@level2name=N'receiver_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'اگر گیرنده شخص باشد کد یوزرش' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PAYMENTS', @level2type=N'COLUMN',@level2name=N'receiver_user_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-per booking 2-hourly 3-daily 4-monthly 5-yearly' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RESOURCE_ASSET_PRICES', @level2type=N'COLUMN',@level2name=N'price_for'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-unavailable 2-free 3-optional paid 4-required paid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RESOURCE_ASSET_RULES', @level2type=N'COLUMN',@level2name=N'asset_mode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نعداد موجود' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RESOURCE_ASSETS', @level2type=N'COLUMN',@level2name=N'quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شروع دوره' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SETTLEMENTS', @level2type=N'COLUMN',@level2name=N'time_period_from'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'پایان دوره' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SETTLEMENTS', @level2type=N'COLUMN',@level2name=N'time_period_until'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'کل درآمد کلاس' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SETTLEMENTS', @level2type=N'COLUMN',@level2name=N'total_amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'درصد برج' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SETTLEMENTS', @level2type=N'COLUMN',@level2name=N'tower_percentage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'مبلغ متعلق به برج' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SETTLEMENTS', @level2type=N'COLUMN',@level2name=N'tower_amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'اگر نال باشد یعنی نقش برای کل ارگان یا مجتمع هست اگر پر یاشد مال اون برج یا .. هست' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'USER_ROLES', @level2type=N'COLUMN',@level2name=N'organization_location_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-admin 2-broadmember 3-quard 4-janitor' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'USER_ROLES', @level2type=N'COLUMN',@level2name=N'role_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-femail 2-mail' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'USERS', @level2type=N'COLUMN',@level2name=N'gender'
GO
USE [master]
GO
